body {
  all: unset;
  font-size: 22px;
}

button,
.input_text,
.input_done,
ul,
li {
  all: unset;
}

.head_text {
  text-align: center;
  font-size: 80px;
  color: rgb(180, 160, 160);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d6d6d6;
  min-width: 100vw;
  height: 100vh;
}

.input_text {
  color: rgb(98, 87, 87);
}

.adding_button {
  cursor: pointer;
  background-color: rgb(180, 160, 160);
  border-radius: 5px;
  padding: 5px;
  color: white;
}

.main_block {
  background-color: white;
  min-width: 30%;
  max-width: 50%;
  min-height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.input_block,
.filters_action {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: 1px solid #d6d6d6;
  padding: 5px 10px;
  align-items: center;
}

.tasks {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.task {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 10px;
  max-height: 100%;
  color: rgb(98, 87, 87);
  border-bottom: 1px solid #d6d6d6;
}

.task:hover {
  background-color: #f9f9f9;
}

.active {
  border: 1px solid #d6d6d6;
}

.input_done {
  appearance: none;
  padding: 15px;
  border: 1px solid #d6d6d6;
  border-radius: 50%;
  margin-right: 10px;
}

.done {
  text-decoration-line: line-through;
  opacity: 0.6;
}

.done_text {
  color: #d6d6d6;
}

.counter,
.filters,
.action {
  font-size: 18px;
  color: #bbbbbb;
  cursor: pointer;
}

.filter {
  padding: 10px;
}
.input_done.check_done::after {
  content: "✓";
  position: absolute;
  transform: translate(-50%, -50%);
  color: #bbbbbb;
  font-size: 16px;
}
